h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 60px;
  font-weight: 600;
}

h2 {
  padding-top: 10px;
  font-size: 25px;
  font-weight: 600;
}

h3 {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -1px;
  color: gray
}


.headerWrapper{
  padding-left: 7px;
  padding-bottom: 15px;
}

.description-container{
  padding-left: 7px;
}

.description {
  position: relative;
  font-size: 17px;
}

.description::after {
    content: "";

    position: absolute;
    display: block;
    width: 270px;
    height: 1px;
    
    margin-top: 20px;
    left: 60px;
    
    background-color: #282c34;
    opacity: 0.2;   
}

.purchase-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 40px;
  padding-left: 7px;
  padding-right: 7px;
  
}

.price {
  margin: 0;
  font-size: 45px;
}

.button {
  width: 170px;
  justify-self: flex-end;

  padding-bottom: 10px;
  padding-top: 10px;
  
  background-color: #282c34;
  color: aliceblue;
  border: none;
  cursor: pointer;
  
}

.App {
  display: flex;
  align-items: center;

  width: 900px;
  height: 700px;

  margin: auto;
  margin-top: 100;

  /* background: linear-gradient(blue, #282c34 30%); */
}
.window {
  display: flex;
  align-items: center;
  
  padding: 40px;
}

.main-content_container {
  background-color: aliceblue;
}
.main-content {
  height:370px;
  margin: 10px;

  border: 3px dashed #aa3055;
  
}

.ImgContainer {
  display: block;
  z-index: 1000;

  width: 400px;
  
  border: 0px solid #282c34;
  box-shadow: 0 0 20px 2px #282c34;
  
}

.Img {
  height: 500px;
}



